<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="at.hooky.antPlugin.HelloWorldAntTask"
            headless="true"
            library="ant_task/ant-task.jar"
            name="helloWorld">
      </antTask>
   </extension>

</plugin>
